@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*////////////////////////////////////////////////////////////////////////
 (grijs #899CA0 en donkergroen #1C2B32)
Table of Contents:

    1. Global Styles
    2. Typografie
    3. Areas
        3.1 Header
        3.2 Testimonial
        3.3 Support
        3.4 Faq
        3.5 Footer
*/


/*////////////////////////
    1. Global Styles
////////////////////////*/


/*////////////////////////
    /*2. Typography*/

body {
    font-family: Poppins, sans-serif;
    margin: -20px auto auto auto;
    width: 100%;

}

.small {
    font-size: 10px;
}

.small1 {
    font-size: 10px;
    text-align: left;
}


/*/
/* 3. Areas
////////////////////////*/


/*//////////////* 3.1 Header /////////////*/
h1 {
    text-align: center;
    font-size: 90px;
}

h2 {
    font-size: 20px;
    padding-bottom: 40px;
    padding-top: 40px;
}

.header-container {
    background-image: url('/assets/images/mountains.jpg');
    background-size: cover;
    max-width: 1000px;
    text-align: center;
    background-position: top;
    margin: auto;
    padding: 100px 100px;
    height: 500px;
    background-repeat: no-repeat;
    /*width: 125%;*/
}


.form-example {
    border-width: 1px;
    border-color: black;
    border-style: solid;
}


.submit {
    margin-left: -10px;
    margin-right: -10px;
    border-radius: 0 20px 20px 0;
    padding: 10px 20px 10px 20px;
    background-color: black;
    color: white;

}

.domain {
    border: 1.8px solid black;
    border-radius: 20px 0 0 20px;
    padding: 10px 60px 10px 10px;
    color: black;
    background: transparent;

}

main {
    text-align: center;
    width: 1000px;
    margin: 0 auto;

}


/*///////////// 3.2 Testimonial /////////////*/
a {
    color: #899CA0;
    text-decoration: underline;

}

a:hover {
    text-decoration: none;
}

.Testimonial {
    font-size: 10px;
    border-radius: 5px;
    text-align: left;
    width: 800px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.17);
    margin: 0 auto 50px auto;
    padding: 20px 10px 10px 80px;
    height: 150px;
}

.Jane-doe-picture {
    border-radius: 50%;
    font-style: italic;
    display: flex;
    align-items: center;

    margin-top: 10px;

}

.John-smith-picture {
    border-radius: 50%;
    font-style: italic;
    display: flex;
    align-items: center;
    margin-top: 10px;

}

.picture-jane {
    width: 44px;
    height: 44px;

}

.picture-john {
    width: 44px;
    height: 44px;
}

/*///////////// 3.3 Support /////////////*/
.Support {
    width: 800px;
    text-align: center;
    margin: 0 auto;
}

.picture {
    border-radius: 5px;
    margin-bottom: 10px;

}

.contact {
    font-size: 10px;
    border-radius: 20px;
    padding: 10px 20px;

    position: relative;
    left: -340px;
    background-color: black;
    color: white;
    margin-top: 15px;

}

/*///////////// 3.4 Faq /////////////*/
.FAQ {
    position: relative;
    left: 90px;
    font-size: 10px;
    cursor: pointer;
    text-align: left;
    margin-bottom: 50px;
}

.cursor-default {
    cursor: default;
    border-radius: 5px;
    background: #899CA0;
    color: #f5f5f5;
    height: 110px;
    width: 500px;

    padding: 15px 20px 100px 20px;
    margin: 0;
}

/*///////////// 3.5 Footer /////////////*/
footer {
    font-size: 10px;
    border: 1.8px solid;
    background-color: black;
    color: white;
    width: 1000px;
    text-align: center;
    margin: 0 auto;
    padding: 20px 0;
}